# .env.example
VITE_PAYSTACK_PUBLIC_KEY=pk_test_375bd9beeed856bf78add67badf7e8037d154a91
GEMINI_API_KEY=AIzaSyChd8fkTP7bkxKHInNQ40zOEjuKt1monMQ


# .env.example

# Gemini AI API Key (Get from https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=AIzaSyChd8fkTP7bkxKHInNQ40zOEjuKt1monMQ

# Paystack Payment (Get from https://dashboard.paystack.com/#/settings/developer)
VITE_PAYSTACK_PUBLIC_KEY=pk_test_375bd9beeed856bf78add67badf7e8037d154a91

# EmailJS (Get from https://dashboard.emailjs.com/)
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_WELCOME_TEMPLATE_ID=
VITE_EMAILJS_TEMPLATE_ID=
